{% extends 'base.html.twig' %}

{% block title %}Offre
{% endblock %}

{% block body %}
	<h1 class="title">OFFRE</h1>
	<div class="flash">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>
	<div class="card-container">
		<div class="row">
			{% set images = ['card1.png', 'card2.png', 'card3.png'] %}
			{% for singleOffer in offer %}
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card offer-card">
						<img src="{{ asset('build/images/' ~ images[loop.index0]) }}" alt="{{ singleOffer.name }}" title="{{ singleOffer.name }}" class="card-img-top">
						<div class="card-body">
							<h3 class="card-title">
								{{ singleOffer.name }}
							</h3>
							<h5 class="card-subtitle">
								Prix :
								{{ singleOffer.price }}€
							</h5>
							<p class="card-text">{{ singleOffer.description }}</p>
							<a href="{{ path('app_reservation_new', {'offerId': singleOffer.id}) }}" class="btn btn-primary">RÉSERVER</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>{% endblock %}
