{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

{% for field in form %}
	{% if field.vars.name == 'offer' %}
		<div id="offer-collection">
			<label>Offre :</label>
			{% for offer in field %}
				{{ form_errors(offer) }}
				{{ form_widget(offer) }}
			{% endfor %}
		</div>
	{% else %}
		{{ form_row(field) }}
	{% endif %}
{% endfor %}

<button type="submit" class="form-reservation">{{ button_label|default('RÉSERVER') }}</button>

{{ form_end(form) }}
