{% extends 'base.html.twig' %}

{% block title %}Reservation index
{% endblock %}

{% block body %}
	<h1>Reservation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Number_of_ticket</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Ticket</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>{{ reservation.id }}</td>
					<td>{{ reservation.numberOfTicket }}</td>
					<td>{{ reservation.firstname }}</td>
					<td>{{ reservation.lastname }}</td>
					<td>{{ reservation.ticket }}</td>
					<td>
						<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
						<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
						<a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}">supprimer</a>
					</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('app_payment_new', {'reservations': reservations}) }}">Payer</a>
	<a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
