{% extends 'base.html.twig' %}

{% block title %}Reservation index
{% endblock %}

{% block body %}
	<h1>Reservation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Number_of_ticket</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Ticket</th>
				<th>Total Cost</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% set totalCost = 0 %}
			{% for reservation in reservations %}
				<tr>
					<td>{{ reservation.id }}</td>
					<td>
						<form action="{{ path('app_reservation_update_tickets', {'id': reservation.id}) }}" method="post">
							<input type="number" name="numberOfTicket" value="{{ reservation.numberOfTicket }}" min="1" max="30">
							<input type="submit" value="Mettre à jour">
						</form>

					</td>
					<td>{{ reservation.firstname }}</td>
					<td>{{ reservation.lastname }}</td>
					<td>{{ reservation.ticket }}</td>
					<td>
						<a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
						<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
						<a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}" class="delete-button" data-token="{{ csrf_token('delete' ~ reservation.id) }}">supprimer</a>
					</td>
				</tr>
				{% for offer in reservation.offer %}
					{% set totalCost = totalCost + (offer.price * reservation.numberOfTicket) %}
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="7">Total Cost for All Reservations</td>
				<td id="total-cost">{{ totalCost }}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_payment_new', {'reservations': reservations}) }}">Payer</a>
	<a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
