{% block body %}
	<table style="width:100%;">
		<tr>
			<td colspan="2" style="text-align:center;">
				<h2>Billet de
					{{ user.lastName }}
					{{ user.firstName }}
				</h2>
			</td>
		</tr>
		<td style="width:50%; text-align:left;">
			<h2>Récapitulatif de la commande :</h2>
			<ul>
				{% for offerDetailsPerReservation in offerDetails %}
					{% for offerDetail in offerDetailsPerReservation %}
						<div>
							<strong>Offre :</strong>
							{{ offerDetail.offerName }}
							<br>
							<strong>Quantité :</strong>
							{{ offerDetail.numberOfTickets }}
						</div>
					{% endfor %}
				{% endfor %}
			</ul>
		</td>
		<td style="width:50%; text-align:center;">
			<img src="{{ qrCodeImage|raw }}" alt="QR Code" width="200">
		</td>
		<tr>
			<td colspan="2" style="text-align:center;">
				<h2>Les Jeux Studilympiques vous remercient.
				</h2>
			</td>
		</tr>
	</table>
{% endblock %}
